<div class="d-flex profile mx-auto " *ngIf="profileJson.picture == null">
    <div class="profileimage rounded-circle">
        <img src="../../../../assets/profile_path.svg" class="">
    </div>
    <p class="mt-2">{{profileJson.nickname}}</p>
</div>

<div class="d-flex profile mx-auto " *ngIf="profileJson.picture != null">
    <div class="profileimage rounded-circle">
        <img src="{{profileJson.picture}}" class="">
    </div>
    <p class="mt-2">
        {{profileJson.nickname}}
    </p>
</div>