.movie-hero {
    border-bottom: 10px solid var(--mainColor);
    background-size: inherit;
    background-position: center;
    background-repeat: initial;
}

.movie-hero .custom-bg {
    background-image: linear-gradient(to right, rgba(21, 12, 39, 0.884) 150px, rgba(10, 7, 26, 0.774) 100%);
}

.movie-summary {
    color: white;
    font-family: 'Franklin Gothic Medium';
}

.movie-summary h6 {
    font-size: 0.7em;
}


/*container para webs basicas */

.container {
    height: 300px;
}

.cita {
    text-size-adjust: bottom;
}