<div id="carouselExampleControls" class="carousel slide col-12" data-bs-ride="carousel">
    <div class="carousel-inner ">
        <div class="carousel-item active">
            <div class="movie-hero" style="background-image: url(../../../assets/homepage.webp)">
                <div class="custom-bg">
                    <div class="container mx-auto pt-5">
                        <div class="row">
                            <div class="col-12 mt-5">
                                <div class="movie-summary text-center ">
                                    <h1>Bienvenido a MovieFy</h1>
                                    <p>La web sobre peliculas y series mas guay de todo el panorama</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item ">
            <div class="movie-hero" style="background-image: url(../../../assets/relleno2.jpeg)">
                <div class="custom-bg">
                    <div class="container pt-5">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="movie-summary text-center mt-5">
                                    <h1>Toda la información de tu actor favorito, la encontraras aqui!</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="movie-hero" style="background-image: url(../../../assets/relleno.jpeg)">
                <div class="custom-bg">
                    <div class="container pt-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="movie-summary text-center mt-5">
                                    <h2>Millones de películas, programas de televisión y personas por descubrir.</h2>
                                    <h1> Explora ahora.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<home-wrapper></home-wrapper>