<footer class="pt-5 mt-5 custom-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">ACERCA DEL PROYECTO</h5>
        <p>
          Proyecto desarrollado utilizando "Stack MEAN", stack para desarrollo web basado en JavaScript,
          acrónimo formado por las iniciales de las cuatro tecnologías principales que entran
          en juego: MongoDB, Express, Angular y Node.js.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-">
        <h5 class="text-uppercase">LO BÁSICO</h5>
        <ul class="list-unstyled mb-0">
          <li><a href="https://www.linkedin.com/in/iago-sayar/">Linkedin</a></li>
          <li><a href="https://github.com/iagosayar">Github</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-">
        <h5 class="text-uppercase">APIS</h5>
        <ul class="list-unstyled mb-0">
          <li><a href="https://developers.themoviedb.org/">The MovieDB</a></li>
        </ul>
      </div>
      <p class="text-center">© Developed by Iago Sayar</p>
    </div>
  </div>
</footer>