<div class="actor-hero">
    <div class="custom-bg">
        <div class="container pt-5">
            <div class="row">
                <div class="col-4">
                    <img class=" col-10 img-fluid rounded mb-3" src="https://image.tmdb.org/t/p/w500/{{ actor.profile_path}}">
                    <div class="col-12 ">
                        <h2>Información Personal</h2>

                        <p class="fw-bold mb-0">Conocido por</p>
                        <small>{{actor.known_for_department}}</small>
                        <p class="fw-bold mb-0 mt-2">Créditos conocidos</p>
                        <small>{{actor.popularity}}</small>
                        <p class="fw-bold mb-0 mt-2">Sexo</p>
                        <small>{{actor.Gen}}</small>
                        <p class="fw-bold mb-0 mt-2">Fecha de nacimiento</p>
                        <small>{{actor.birthday}}</small>
                        <p class="fw-bold mb-0 mt-2">Lugar de nacimiento</p>
                        <small>{{actor.place_of_birth}}</small>
                        <p class="fw-bold mb-0 mt-2"> También conocido como </p>
                        <small *ngFor="let names of actor.also_known_as">
                            {{names}}<br/>                    
                        </small>
                    </div>
                </div>

                <div class="col-8">
                    <div class="actor-summary">
                        <h1>{{actor.name}}</h1>
                        <h3>Biografia</h3>
                        <p class="biography">{{actor.biography}}</p>
                    </div>
                    <app-moviesMaked [personId]='id'></app-moviesMaked>

                </div>
            </div>
        </div>
    </div>
</div>