<div class="container mt-5">
    <div class="row">
        <div class="col-sm-3 col-lg-3 mb-3 d-flex align-items-stretch" *ngFor="let actor of popularActors">
            <div class="card card-movie">
                <span (click)="viewActor(actor.id)">
            <img src="https://image.tmdb.org/t/p/w500/{{ actor.profile_path }}" class="card-img-top">
          </span>
                <div class="card-body ">
                    <p class="card-text">{{ actor.name }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">{{ actor.known_by.join(', ') }}</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination col-12 " style="height: 100px;">
            <button type="button" (click)="prevPage();" class="col-1 mx-auto h-50" href="">PREV</button>
            <button type="button" (click)="nextPage()" class="col-1 mx-auto h-50">NEXT</button>
        </div>
    </div>
</div>