<h3>Actores</h3>
<div class="row overflow-auto flex-row flex-nowrap pb-4">
    <div class="col-3 d-flex align-items-stretch" *ngFor="let movie of movieMaked">
        <div class="card actor-card">
            <span (click)="viewMovie(movie.id)">
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="card-img-top">
            </span>
            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
            </div>
        </div>
    </div>
</div>